<!DOCTYPE html>
<!-- Alee Productions Website: Made by Alee and licensed with GPL-3.0 -->
<html>

<head>
    <% include ./includes/header %>
</head>

<body>
<% include ./includes/navbar %>
<div class="animsition">
<div class="jumbotron special-color">
    <h2 class="display-4">Unicity</h2>
    <p class="lead">Description.</p>
</div>
<% include ./includes/scripts %>
<% include ./includes/footer %>
</div>
</body>

</html>