<!DOCTYPE html>
<!-- Alee Productions Website: Made by Alee and licensed with GPL-3.0 -->
<html>

<head>
    <% include ../includes/header %>
    <style>
        .rules {
            font-size: 15pt;
        }
        .discord-txt-background {
            background-color: #3c414e;
        }
        .discord-txt-colour {
            color: #6d83ce;
        }
    </style>
</head>

<body class="dark">
<div id="top"></div>
<% include ../includes/navbar %>
<div class="animsition">
    <h1 class="text-center display-5 mt-3">Alee Productions Community Rules</h1>
    <p class="text-center lead">Rules have been set in stone so we make sure that you can have a great time here.</p>
    <p class="text-center lead">If you think that reading rules are hard it’s actually not just take some time.</p>
<div class="container rules">
<div id="tiers">
<h1>Tiers</h1>
    <ul class="none">
        <li><a class="white-text" href="#normal-tier">Normal Tier</a> - It means it is not too severe and it there’s nothing to worry about.</li>
        <li><a class="white-text" href="#excessive-tier">Excessive Tier</a> - It means that if a rule is broken that’s severe it will be taken action immediately and will be stored in the punishment log.</li>
    </ul>
</div>
<div id="normal-tier">
<h1>Normal Tier</h1>
<p>If these are broken, then an unofficial warning will occur. If these actions continue, an official warning will occur then excessive punishment will happen if continued once more.</p>
    <ul>
        <li>Use common sense. (This isn’t an against rule but you must use your common knowledge.)</li>
        <li>No spamming (Mention and @everyone spams in discord will result in an official warning.)</li>
        <li>No any advertisements/giveaways at any channels. Unless for a specific purpose.</li>
        <li>Respect others.</li>
        <li>No backseat moderating (enforcing the rules to other users)</li>
        <li>Refrain asking for staff, because this just lowers your chance to 0.</li>
    </ul>
</div>
    <div id="excessive-tier">
        <h1>Excessive Tier</h1>
        <p>This can result in an official warning, jail/mute or possible ban/kick it depends on how severe it is.</p>
        <ul>
            <li>No excessive swearing (Swearing is allowed but cursing that contains racial slur and etc will result in immediate severe punishment.)</li>
            <li>Any accusations will never be tolerated here there will be an investigation from the staff team if it occurs and false accusation may lead a 24 hour jail time or possibly getting banned.</li>
            <li>Do not argue or threaten the staff.</li>
            <li>Blackmailing members is also not tolerated here.</li>
            <li>No NSFW content.</li>
            <li>Raids will not be tolerated in this community. (Doing this wastes our time and yours too)</li>
            <li>No alts are to be on this community.</li>
            <li>Threatening anyone will also not be tolerated. (i.e. DDoS, trying to find you and etc)</li>
            <li>Any malicious content will not be tolerated. (i.e. Viruses, Malware, Adware and etc)</li>
            <li>Selfbots is not allowed. (Discord prohibits selfbots in their ToS)</li>
        </ul>
    </div>
    <div id="discord-policy">
        <h1>Alee Productions Discord Policies</h1>
        <div id="discord-nickname">
            <h1>Nickname Policy</h1>
            <p>We enforce this nickname policy to keep a clean, friendly community.</p>
            <p>Our nickname system is different, using the command <code class="green-text">am:nick [your nickname]</code> so our staff team can approve it first. This system is set in place so that the community is a nice place to be for everyone.
                To have your nickname accepted, it must comply with the following:</p>
            <ul>
                <li>No offensive words</li>
                <li>No symbols</li>
                <li>Not attention-grabbing (i.e. getting to the top of the list by using a symbol)</li>
            </ul>
            <p>Any display name that does not follow the guidelines above will have the following done to it:</p>
            <ul>
                <li>Censoring your nickname/username</li>
                <li>Ignoring the nickname change from AstralMod</li>
            </ul>
        </div>
        <div id="discord-ageing">
            <h1>Ageing Policy</h1>
            <p>You must be at least 13 years old to be in this server due to the COPPA regulations…</p>
            <p>If you don’t accept this, you may leave the server and discord.</p>
            <p>An investigation or/and ban may happen if found guilty.</p>
        </div>
        <div id="logging-policy">
            <h1>Logging/Privacy/Tracking Policy</h1>
            <p>Our bots (AstralMod, Auttaja, and Manager) log the following things, and store them in their databases:</p>
            <ul>
                <li>Deleted Messages</li>
                <li>Edited Messages</li>
                <li>Your ID</li>
                <li>You joining and leaving</li>
                <li>You sending messages (Manager Bot Only)</li>
            </ul>
            <p>If you don’t agree with the policies and wanting to opt out, you may leave the server.</p>
        </div>
    </div>
    <p>We also highly recommend you to read Discord’s <a class="text-green" href="https://discordapp.com/terms">ToS</a> and <a class="text-green" href="https://discordapp.com/guidelines">Community Guidelines</a>.</p>
    <div id="modal">
        <!-- Modal -->
        <div class="modal fade down" id="exampleModalPreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalPreviewLabel">Instructions</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="none" style="font-size: 18px;">
                            <li>1. Never ask for staff</li>
                            <li>2. Be active in the Alee Productions</li>
                            <li>3. Follow all rules without breaking them</li>
                            <li>4. Finally, the staff will pick people that they trust</li>
                            <li>5. The staff has to vote if they can be accepted to be part of the staff team</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn green" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
    </div>
    <div id="FAQ">
        <h1>Frequent Asked Questions</h1>
        <p>These are the frequently asked questions that you might ask the staffs.</p>
        <ul class="none">
            <li>Q: Can I be staff?</li>
            <li>A: No, you can't ask for staff but you want to know how to get it, then here are the <a class="green-text" id="modalActivate" type="button" data-toggle="modal" data-target="#exampleModalPreview">instructions</a>.</li>
            <li>Q: I was banned for no reason! I hate the staff…</li>
            <li>A: Well… if you were banned for no reason you can ask our staff team and they will tell you why you were banned.</li>
        </ul>
    </div>
    <div id="conclusion">
        <p>If a rule is broken, no need to panic, it's just a heads up on what’s coming if you were to break another rule and if you got mistakenly warned please contact one of the staff immediately.</p>
        <p>If there's staff abusing their powers please report them to Alee immediately.</p>
        <p>Thanks for reading the rules!</p>
        <p>From the Alee Productions Community Team :)</p>
    </div>
    <a href="#top" class="green-text">Back to top</a>
</div>
<% include ../includes/scripts %>
<% include ../includes/footer %>
</div>
</body>

</html>