<!DOCTYPE html>
<!-- Alee Productions Website: Made by Alee and licensed with GPL-3.0 -->
<html>
<head>
    <% include ./includes/header %>
</head>
<body>
    <% include ./includes/navbar %>
   <center>
       <h1>404 - Not Found</h1>
       <h2>Oops, seems like that page isn't found!</h2>
       <h3>Return to <a href="/">homepage</a>?</h3>
    </center>
    <% include ./includes/scripts %>
</body>
</html>