<!DOCTYPE html>
<!-- Alee Productions Website: Made by Alee and licensed with GPL-3.0 -->
<html>
<head>
    <% include ./includes/header %>
</head>
<body class="dark">
    <% include ./includes/navbar %>
    <div class="animsition">
   <div class="text-center mt-3">
       <h1>404 - Not Found</h1>
       <h2 id="404message"></h2>
       <h3>Return to <a href="/" class="green-text">homepage</a>?</h3>
    </div>
    <script>
        function randomtext() {
            let randomtxt = [
                'Oops, seems like that page isn\'t found!',
                'You seem to be lost!',
                'Uh oh, that page isn\'t found in our servers!',
                'Seems like you landed on this page...'
            ];
            return randomtxt[Math.floor((Math.random() * 4.00))];
        }

        document.getElementById("404message").innerHTML = randomtext();
    </script>
    </div>
    <% include ./includes/scripts %>
</body>
</html>