<!DOCTYPE html>
<!-- Alee Productions Website: Made by Alee and licensed with GPL-3.0 -->
<html>

<head>
    <% include ./includes/header %>
</head>

<body class="dark">
    <% include ./includes/navbar %>
    <div class="animsition">
    <div class="jumbotron special-color">
        <h2 class="display-4">About Alee Productions</h2>
        <p class="lead">Alee Productions is a productions company by Andrew Lee that focuses on making videos and software.
        </p>
    </div>
    <div class="container">
        <!--Community, Video and Software-->
        <!-- If anyone knows how to fix this please tell me thanks -Alee :)-->
        <div class="row d-flex justify-content-center">
            <div class="col-sm">
                <div class="view overlay">
                    <a href="https://discord.gg/EFhRDqG">
                        <img class="text-center" src="/img/users-solid.svg" height=220px>
                        <div class="mask flex-center rgba-green-strong">
                            <p class="white-text">Community</p>
                        </div>
                    </a>
                </div>
                <br>
                <p class="text-center">Community</p>
            </div>
            <div class="col-sm">
                <div class="view overlay">
                    <a href="https://www.youtube.com/channel/UC9CIwdleH3m_PV35QqULWzA">
                        <img src="/img/video-solid.svg" height=220px>
                        <div class="mask flex-center rgba-green-strong">
                            <p class="white-text">Video</p>
                        </div>
                    </a>
                </div>
                <br>
                <p class="text-center">Video</p>
            </div>
            <div class="col-sm">
                <div class="view overlay">
                    <a href="https://github.com/aleeproductions">
                        <img src="/img/file-code-solid.svg" height=220px>
                        <div class="mask flex-center rgba-green-strong">
                            <p class="white-text">Software</p>
                        </div>
                    </a>
                </div>
                <br>
                <p class="text-center">Software</p>
            </div>
        </div>

        <h1>History</h1>
        <p>Alee Productions started in 2016. It used to be called "AleeCorp" and used to make just software but over
            time it started branching to other things like making games and videos.
            In late 2018, AleeCorp merged with Universe and some project merged but due to a community conflict during
            October in that year, Universe and AleeCorp splited. In 2019 however, AleeCorp got renamed to Alee
            Productions
            just to make the company more professional.</p>
        <h1>FAQ</h1>
        <ul class="none">
            <h4>
                <li>Q: Why did you create Alee Productions?</li>
                <li>A: Reason why I want to create this is because I want to make my own things as a passion also
                    sharing
                    it to the public and to make it as a career.</li>
                <br>
                <li>Q: Why did you call this productions company Alee Productions?</li>
                <li>A: As you know my name is Andrew Lee and my name starts with an "A" and combine it with "Lee" you get "Alee". :)</li>
            </h4>
        </ul>
        <h1>Team</h1>
        <div class="card text-white success-color-dark mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Community Team (Discord)</h5>
                <p class="card-text text-white">
                    <ul>
                        <li>Travis#1777 (Admin)</li>
                        <li>Inkydink#9098 (Admin)</li>
                        <li>The Pixel Polygon#2069 (Admin)</li>
                        <li>Sylv#7596 (Moderator)</li>
                        <li>jtsshieh#6424 (Moderator)</li>

                    </ul>
                </p>
            </div>
        </div>
        <div id="credits">
        <h1>Credits</h1>
        <p>Website is powered by Express.JS, EJS and Material Design Bootstrap.</p>
        <p>This project is open source meaning that you can help <a href="https://github.com/aleeproductions/website">contribute</a> to this website.</p>
        </div>
    </div>
        <% include ./includes/scripts %>
        <% include ./includes/footer %>
    </div>
</body>

</html>