<!DOCTYPE html>
<!-- Alee Productions Website: Made by Alee and licensed with GPL-3.0 -->
<html>

<head>
    <% include ./includes/header %>
</head>

<body class="dark">
    <% include ./includes/navbar %>
    <div class="animsition">
    <!--Jumbotron-->
    <div class="jumbotron special-color bounceIn white-text">
        <h2 class="display-4">Hello! Welcome to Alee Productions.</h2>
        <p class="lead">We are a very small productions company.</p>
        <hr class="my-4">
        <p>If you want to know more about us click the button down below.</p>
        <a class="btn btn-green btn-lg" href="/about" role="button">Learn more</a>
    </div>

    <div class="container">
        <h2 class="text-center mb-3">Our Products</h2>
        <!--Carousel Wrapper-->
        <div id="carousel-product" class="carousel slide carousel-slide" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#carousel-product" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-product" data-slide-to="1"></li>
                <li data-target="#carousel-product" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="view">
                        <img class="d-block w-100" src="/img/carousel/unicity.png"
                             alt="First slide">
                        <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Unicity</h3>
                        <p>A Sims clone written in Unity3D.</p>
                        <a class="btn btn-green btn-lg" href="https://github.com/aleeproductions/Unicity/blob/master/README.md" role="button">Learn More</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
                             alt="Second slide">
                        <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">QuantumNet</h3>
                        <p>A computer "hacking" game made in C#.</p>
                        <a class="btn btn-green btn-lg" href="https://github.com/aleeproductions/QuantumNet/blob/master/README.md" role="button">Learn More</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
                             alt="Third slide">
                        <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Slight mask</h3>
                        <p>Third text</p>
                        <a class="btn btn-green btn-lg" href="#" role="button">Learn More</a>
                    </div>
                </div>
            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-product" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-product" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
        </div>
        <!--/.Carousel Wrapper-->
        <br>
        <!--Community, Video and Software-->
        <!-- If anyone knows how to fix this please tell me thanks -Alee :)-->
        <div class="row d-flex justify-content-center">
            <div class="col-sm">
                    <div class="view overlay">
                        <a href="https://discord.gg/EFhRDqG">
                            <img class="text-center" src="/img/users-solid.svg" height=220px>
                            <div class="mask flex-center rgba-green-strong">
                                <p class="white-text">Community</p>
                            </div>
                        </a>
                    </div>
                    <br>
                <p class="text-center">Community</p>
            </div>
            <div class="col-sm">
                    <div class="view overlay">
                        <a href="https://www.youtube.com/channel/UC9CIwdleH3m_PV35QqULWzA">
                            <img src="/img/video-solid.svg" height=220px>
                            <div class="mask flex-center rgba-green-strong">
                                <p class="white-text">Video</p>
                            </div>
                        </a>
                    </div>
                    <br>
                <p class="text-center">Video</p>
            </div>
            <div class="col-sm">
                    <div class="view overlay">
                        <a href="https://github.com/aleeproductions">
                            <img src="/img/file-code-solid.svg" height=220px>
                            <div class="mask flex-center rgba-green-strong">
                                <p class="white-text">Software</p>
                            </div>
                        </a>
                    </div>
                    <br>
                   <p class="text-center">Software</p>
            </div>
        </div>
    </div>
    <script>
        console.log("Welcome to Alee Productions :)");
    </script>
    <% include ./includes/scripts %>
    <% include ./includes/footer %>
    </div>
</body>

</html>