<!DOCTYPE html>
<!-- Alee Productions Website: Made by Alee and licensed with GPL-3.0 -->
<html>

<head>
    <% include ./includes/header %>
</head>

<body>
    <% include ./includes/navbar %>
    <div class="jumbotron special-color">
        <h2 class="display-4">Projects</h2>
        <p class="lead">This is the projects that we are currently working on.</p>
    </div>
    <div class="container">
        <h1 class="mb-5 text-center">Software/Games</h1>
        <!-- Software Cards -->
    <div class="row d-flex justify-content-center">

        <div class="col-md-5">
            <div class="card elegant-color">
                <div class="card-body">
                    <h5 class="card-title">Unicity</h5>
                    <p class="card-text white-text">A Sims clone written in Unity3D.</p>
                    <a class="card-link green-text" href="https://github.com/aleeproductions/Unicity">GitHub</a>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="card elegant-color">
                <div class="card-body">
                    <h5 class="card-title">QuantumNet</h5>
                    <p class="card-text white-text">A computer "hacking" game made in C#.</p>
                    <a class="card-link green-text">Card link</a>
                </div>
            </div>
        </div>
    </div>
        <!--/.Software Cards -->
        <h1 class="mt-5 mb-5 text-center">Videos</h1>
        <h2>Google API disabled for now....</h2>
        <!--<ul id="yt-results" class="yt" style="list-style-type:none;"></ul>-->
    </div>
    <% include ./includes/scripts %>
    <script type="text/javascript" data-main="/js/yt-list-videos.js" src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
    <% include ./includes/footer %>
</body>
</html>