<!DOCTYPE html>
<!-- Alee Productions Website: Made by Alee and licensed with GPL-3.0 -->
<html>

<head>
    <% include ./includes/header %>
</head>

<body class="dark" onload="displayRepos();">
    <% include ./includes/navbar %>
    <div class="animsition">
    <div class="jumbotron special-color">
        <h2 class="display-4">Projects</h2>
        <p class="lead">This is the projects that we are currently working on.</p>
    </div>
    <div class="container">
        <h1 class="mb-5 text-center">Software/Games</h1>
        <!-- Software Cards -->
        <h2 class="m-3 text-center">Current big active projects</h2>
    <div class="row d-flex justify-content-center">
        <div class="col-md-5">
            <div class="card elegant-color">
                <div class="card-body">
                    <h5 class="card-title">Unicity</h5>
                    <p class="card-text white-text">A Sims clone written in Unity3D.</p>
                    <a class="card-link green-text" href="/projects/unicity">Learn more</a> <a class="card-link green-text" href="https://github.com/aleeproductions/Unicity"><i class="fab fa-github"></i> GitHub</a>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="card elegant-color">
                <div class="card-body">
                    <h5 class="card-title">QuantumNet</h5>
                    <p class="card-text white-text">A computer "hacking" game made in C#.</p>
                    <a class="card-link green-text" href="https://github.com/aleeproductions/QuantumNet"><i class="fab fa-github"></i> GitHub</a>
                </div>
            </div>
        </div>
        <h2 class="m-3">Other software/games we made...</h2>
        <button class="btn green" action="button" onclick="displayRepos();">Reload Repos</button>
        <table class="table table-borderless table-dark elegant-color mt-3">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Language</th>
            </tr>
            </thead>
            <tbody id="repos-table-body">
            </tbody>
        </table>
    </div>
        <!--/.Software Cards -->
        <!-- Disabled for now....
        <h1 class="mt-3 mb-2 text-center">Videos</h1>
        <ul id="yt-results" class="yt none"></ul>
        -->
    </div>
    <% include ./includes/scripts %>
    <script>
        // Code by cylexVEVO

        let count = 0;
        let xhttp = new XMLHttpRequest();
        function displayRepos() {
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    let data = JSON.parse(this.responseText);
                    data.forEach(() => {
                        $("#repos-table-body").append("<tr>" + [`<td><a href="${data[count].html_url}" class="green-text">${data[count].name}</a></td>`, `<td>${data[count].description}</td>`, `<td>${data[count].language}</td>`] + "</tr>");
                        count++;
                    });
                }
            };
        }
        xhttp.open("GET", "https://api.github.com/users/aleeproductions/repos", true);
        xhttp.send();
    </script>
    <script type="text/javascript" data-main="/js/yt-list-videos.js" src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
    <% include ./includes/footer %>
    </div>
</body>
</html>