body {
    font-family: Play, sans-serif;
    background-color: #212121;
    color: #ffffff;
}

ul.yt {
    margin: 0 auto;
    text-align: center;
}

li.yt-vid-list {
    display: inline-block;
    vertical-align: top;
}