/*
   Please refrain from editing the style.css file and only edit the style.scss file.
 */
body {
  font-family: Play, sans-serif; }

.dark {
  background-color: #212121;
  color: #ffffff; }

.light {
  background-color: #ffffff;
  color: #000000; }

ul .yt {
  margin: 0 auto;
  text-align: center; }

ul .none {
  list-style-type: none; }

li .yt-vid-list {
  display: inline-block;
  vertical-align: top; }
