<!DOCTYPE html>
<html>

<head>
    <% include ./includes/header %>
</head>

<body>
    <% include ./includes/navbar %>
    <div class="jumbotron special-color">
        <h2 class="display-4">Title</h2>
        <p class="lead">Description.</p>
    </div>
    <% include ./includes/footer %>
</body>

</html>